.App {
    position: relative;
}

/* search section */
#search_section {
    margin-top: -46px;
}
/* search section */

/* jobs section */
#jobs_section form .form-select {
    width: 100%;
    border: 0;
    box-shadow: none;
}

#featured_jobs_section .left_side {
    border: 1px solid #DDD;
}
/* jobs section */

/* candidates section */
#candidates {
    text-align: center;
    background-color: mediumslateblue;
    padding-top: 48px;
    color: white;
    height: 400px;
    margin-bottom: 200px;
}

#candidates hr {
    width: 40px;
    color: black;
    opacity: 1;
    height: 3px;
    margin-inline: auto;
}

#candidates .btn-wrapper {
    height: 150px;
}

#candidates .explore_btn {
    width: 250px;
    height: 48px;
}
/* candidates section */

/* language btn */
#language_btn button {
    position: fixed;
    bottom: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* language btn */